.color {
    border: 1px solid black;
    border-radius: 12px;
    height: fit-content;
    margin: 15px;
    margin-left: 0px;
    width: fit-content;
}

.color-small {
    box-shadow: 0 0 5px gray;
}

.colorBackground {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: black;
    display: inline-block;
}

.colorName {
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 18px;
    height: auto;
    padding-bottom: 5px;
}

.large {
    height: 400px;
    width: 668px;
}

.small {
    cursor: pointer;
    height: 80px;
    width: 120px;
}

@media only screen and (max-width: 1200px) {
    .large {
        height: 400px;
        width: 500px;
    }
}

@media only screen and (max-width: 880px) {
    .large {
        height: 300px;
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .large {
        height: 250px;
        width: 300px;
    }
}

@media only screen and (max-width: 440px) {
    .large {
        height: 200px;
        width: 200px;
    }
}