.color {
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px;
}

.colorBackground {
    color: black;
    display: inline-block;
}

.colorName {
    background: #fff;
}

.large {
    height: 300px;
    width: 300px;
}

.small {
    cursor: pointer;
    height: 100px;
    width: 100px;
}