.clearBtn {
    margin: 5px;
    width: 200px;
}

.detailView {
    margin: 5px 300px;
    max-width: 100%;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .detailView {
        margin-left: 260px;
    }
}

@media only screen and (max-width: 520px) {
    .detailView {
        margin-left: 25px;
        max-width: 100%;
    }
}