.listView {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 5px auto;
    max-width: 60%;
}

.page-item {
    cursor: pointer;
}

.paginationBar {
    margin-top: 10px;
    width: 100%;
}

.page-true {
    background: lightgray;
}