.colorMenu {
    cursor: pointer;
}

.sidebar {
    background: lightgray;
    border-right: 1px solid black;
    color: black;
    height: auto;
    margin-right: 20px;
    min-height: 100vh;
    padding: 10px;
    width: 200px;
}

@media only screen and (max-width: 520px) {
    .sidebar {
      display: none;
    }
  }