.allBtn {
  margin-bottom: 10px !important;
}

.colorMenu {
    cursor: pointer;
}

.menuItem {
  font-size: 20px;
  line-height: 2.0;
}

.allBtn, .randomBtn {
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
}

.sidebar {
    background: lightgray;
    border-right: 1px solid black;
    color: black;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    padding-top: 50px;
    position: absolute;
    top: 68px;
    width: 250px;
}

@media only screen and (max-width: 690px) {
    .menuItem {
      font-size: 16px;
    }

    .allBtn, .randomBtn {
      font-size: 14px;
      width: 72px;
    }

    .sidebar {
      padding-left: 8px;
      width: 90px;
    }
  }