html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.colorDisplay {
  height: fit-content;
  margin: 20px;
  min-width: 300px;
}

.colorList {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Source Serif Pro", Times, Serif;
  position: relative;
}
