html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.colorDisplay {
  height: fit-content;
  margin: 20px;
  min-width: 300px;
}

.colorList {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.viewBtn {
  width: 75px;
}

.viewBtns {
  display: block !important;
  position: absolute;
  right: 40px;
  top: 80px;
}

.view-true {
  background: lightgray;
}
